<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.Common" version="1.3.2" targetFramework="net461" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.3.2" targetFramework="net461" />
  <package id="StackExchange.Precompilation.Metaprogramming" version="3.3.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.1.37" targetFramework="net461" />
</packages>